.cliente-detail {}

.cliente-detail .title {
  font-size: 14px;
  font-weight: 600;
}

.cliente-detail .info-section {
  background: rgba(0, 0, 0, 0.1)
}

.cliente-detail .info-section {
  padding: 20px;
}

.cliente-detail .info-section .name-cliente span {
  position: relative;
  bottom: 13px;
  padding-left: 10px;
  font-weight: 200;
}

.cliente-detail .info-section .email-cliente {

}