// Menu sidenav

.menu-sidenav {
  padding-top: 50px;
}

.menu-sidenav .menu-item {
  height: 48px;
  padding-left: 16px;
}

.menu-sidenav .menu-item:hover {
  background: rgba(0,0,0,0.15);
}

.menu-sidenav .menu-item .menu-icon {
  padding-right: 32px;
}

.menu-sidenav .menu-item .menu-text {
  font-size: 15px;
  font-weight: 600;
}
