.trabajo-detail {}

.trabajo-detail .title {
  font-size: 14px;
  font-weight: 600;
}

.trabajo-detail .info-section {
  background: rgba(0, 0, 0, 0.1)
}

.trabajo-detail .info-section {
  padding: 20px;
}

.trabajo-detail .info-section .cliente {
}

.trabajo-detail .info-section .cliente ng-md-icon {}

.trabajo-detail .info-section .cliente span {
  position: relative;
  bottom: 13px;
  padding-left: 10px;
  font-weight: 200;
}
