 <form style="width:70%; margin:auto; max-width: 700px;">
  <md-input-container>
    <label>Cliente</label>
    <input ng-model="trabajo.cliente" type="text">
  </md-input-container>
  <md-input-container>
    <label>Tipo de trabajo</label>
    <input ng-model="trabajo.type" type="text">
  </md-input-container>
  <md-input-container>
    <label>Notas</label>
    <textarea ng-model="trabajo.notas" type="text"></textarea>
  </md-input-container>
  <div layout>
    <md-input-container flex>
      <label>Precio</label>
      <input ng-model="trabajo.precio" type="number">
    </md-input-container>
    <md-input-container flex>
      <label>Fecha límite</label>
      <input ng-model="trabajo.fecha" type="date">
    </md-input-container>
  </div>

  <md-button class="md-raised md-primary" ng-click="save(trabajo)">Guardar</md-button>
 </form>
