<style>
  .trabajos-container {
    display: flex;
    flex-direction: column;
  }
</style>

<div class="full-height full-width trabajos-container">

  <!-- Menu -->
  <div class="ui menu full-width">
    <div class="header item">Trabajos</div>
    <div class="item right">
      <button class="ui button green icon">
        <i class="ui icon add"></i> Nuevo trabajo
      </button>
    </div>
  </div>

  <!-- List-details container-->
  <div style="full-width full-height" style="flex-grow: 1">

  </div>

</div>
